.container {
 /* overflow: hidden; */
 scroll-snap-type: y mandatory;
}
.child{
  /* background-color: aqua; */

  scroll-snap-align: start;
}
.line1{
margin: 50px 0 0 20%;

}
.line2{
  margin: -15px 0 0 20.2%;
  
  }
  .line3{
    margin: -40px 0 0 19.9%;
    
    }
.line{
  height:100%;
}


.main{
  
  line-height: 45px;
  font-size: 48px;
  color: white;
   
  font-weight: 700;
}
.greetings{
display: block;
text-transform: uppercase;

}
.name{
 
  text-transform: uppercase;
 
  }
  .description{
    font-weight: 600;
    color:white;
    display: block;
  }
  .title{
    position:relative;
    display: block;
    margin:15% 0 0 15%;
  }
.sidecontainer{
  position: absolute;
  bottom: -30px;
  right:1%;
  
}
.sideimg{
  width:70%;
}
.nextDownContainer{
  position: fixed;
  bottom: -20px;
  right: 10vh !important;;

}
.nextBtn{
  width: 50px;
}

@media only screen and (max-width: 600px) {
  .title{
    margin: 55% 0 0 10%;
  }
  .line1{
    margin: 50px 0 0 10%;

  }
  .line2{
    margin: -10px 0 0 10.7%;
    
    }
    .line3{
      margin: -40px 0 0 9.7%;
      
      }
  .nextDownContainer{
    left:45%;
  }
  .sidecontainer{
    right:50px;
  }
  .sideimg{
    width: 200px;
  }
}